.content
	h1
		|Сайт на ре&shy;кон&shy;струк&shy;ции
	p
		|За более под&shy;роб&shy;ной ин&shy;фор&shy;ма&shy;цией об&shy;ра&shy;ти&shy;тесь к ад&shy;ми&shy;нис&shy;тра&shy;то&shy;ру сай&shy;та -
		=" "
		a(href="https://vk.com/projectsoft" target="_blank")
			|ProjectSoft