footer.footer
	.footer-wrapper
		p.developer
			|Разработка, поддержка и продвижение сайтов:
			br
			a(href="http://www.cmsmagazine.ru/creators/studionions/" target="_blank")
				|ProjectSoft & STUDIONIONS